<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--    Firebase统计需要用到的部分权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".mvp.view.BaseKotlinActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

    </application>
</manifest>
